@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

body {
    font-family: 'Lexend', sans-serif;
}


:root {
    --primary-color: #00BFA6;
    --color-offWhite: #D1FAE5;
}


/** containers **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** Links **/

.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;

}

.link-primary {
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: white;
}

.link-secondary {
    border-style: solid;
    border-radius: 0.5rem;
    background-color: none;
    border-color: var(--primary-color);
    color: var(--primary-color);

}

br {
    margin: 2rem;
}

/**lists **/

.list-nobullets {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0.5rem 0.5rem;
}


/** navigatiom **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

nav-brand {
    font-weight: bold;
}

.navigation .link {

    color: white;

}

.navigation .list-nobullets {
    text-align: right;
}

/** Hero **/
.hero {
    padding: 2rem;
    text-align: center;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero-heading {
    padding-top: 1rem;
    color: grey;
}

.hero .hero-span {
    color: var(--primary-color);
}

/** section **/

.section {
    padding: 1rem;
}

.section h1 {
    text-align: center;
}

.section-ow {
    background-color: var(--color-offWhite);
}

/** footer **/

.footer {
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-bottom-right-radius: 0.5rem;
}


.footer .link {
    color: white;
}


.footer ul {
    padding-inline-start: 0px;
}