<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog|Basic tag of HTML</title>
    <link href='/styles.css' rel='stylesheet'/>
</head>
<body>
    <nav class="navigation">
        <div class="nav-brand">Welcome to my blog</div>
        <ul class="list-nobullets">
           
            <li class="list-item-inline">
                <a class="link" href="/blog.html">check other blogs</a>
            </li>
        </ul>
    </nav>
    <header class="hero">
        <img class="hero-image" src="/Images/HeaderImage.svg" />
        <h1 class="hero-heading">Welcome<span class="hero-span">To my blog page</span></h1>
    </header>

    <Section class="section">
        <div class="container container-center">
            <h1>Basic tags of HTML</h1>

                <h3>What is HTML?</h3>
            
            <p>HTML can be expanded as Hypertext Markup Language, which is commonly used for the web based application development processes. It operates as a plain text file that can hold a variety of tags based on the requirement set for the said application. Tags in HTML can be defined as a means for instructing the program for modelling the web page.</p>
            
            <h3>What is a tag?
            </h3>
            <p>A tag is an instruction to tell the browser how it should display certain content on the screen. Sometimes developers might refer to tags as elements.</p>

            <h3>different basic HTML tags</h3>
            <h4>DOCTYPE</h4>

            <p>The DOCTYPE tells the browser what kind of file will be opening. Since we are coding in HTML5. HTML5 is the latest version of the HTML Markup language; our DOCTYPE is extremely simple there’s no closing tag. DOCTYPE is just like a regular tag and starts with a bracket, and then we put in the exclamation point, and then we type DOCTYPE. We have space, and then we type html. This tag is basically telling the browser, hey, these documents need to be served as HTML.</p>

            <h4>html</h4>
            <p>The HTML tag, also called the root element, follows the DOCTYPE tag. This tag can have the normal global attributes plus an attribute called manifest. The HTML tag can only be used once on an HTML page. Everything HTML-related is nested inside this tag. This means that all of our tags will be located between the opening and closing of the HTML tags.</p>
        
            <h4>head</h4>
            <p>The head tag provides general information about the web page that is being displayed. An individual tag is added inside of the head tag, which lets the browser know certain specifics, such as the title of the page, author of the page, and other such information. Nothing in this head tag will be displayed on the web page. However, some information is displayed in the actual browser application, such as the tab title. It is standard global attributes are available for this tag.</p>
        
            <h4>body</h4>
            <p>The body tag lets the browser know what to display on the page. Inside the body, the tag is where we will place all of our content, such as tags and text. Anything placed inside of the body tag will be displayed on the web page.The body tag is placed after the head tag inside of the HTML tag. There is only one body tag per page. The body tag can have standard global attributes.</p>

            <h4>p</h4>
            <p>The paragraph tag, or the p tag, is used when you want to keep a paragraph of text together. This element is a block-level element, meaning it takes up the width of its parent container. The ideal use would be when you have a lot of text to display. Only global attributes are permitted for this particular element.</p>

            <h4>div</h4>
            <p>The division tag, or commonly known as the div tag, is a generic block container. This means you can group a lot of tags together to make up a section of your site. This tag is global attributes.</p>
            

        </div>
        <footer class="footer">
            <div class="footer-heading ">You can contact me on below links</div>
            <ul class="list-nobullets">
                <li class=" list-item-inline">
                    <a class="link" href="https://www.linkedin.com/in/tushar-bhandirge-300249118/">
                        <img class="icon-image" src="./Images/icons8-linkedin-30.png" />
                    </a>
                </li>
                <li class="list-item-inline">
                    <a class="link" href="https://twitter.com/TusharBhandirge?s=09">
                        <img class="icon-image" src="./Images/icons8-twitter-30.png" />
                    </a>
                </li>
                <li class="list-item-inline">
                    <a class="link" href="https://github.com/TusharBhandirge?tab=repositories">
                        <img class="icon-image" src="./Images/icons8-github-30.png"/>
                    </a>
                </li>
            </ul>
        </footer>

    </Section>
    
</body>
</html>