<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog|Building my portfolio</title>
    <link href='/styles.css' rel='stylesheet'/>
</head>
<body>
    <nav class="navigation">
        <div class="nav-brand">Welcome to my blog</div>
        <ul class="list-nobullets">
           
            <li class="list-item-inline">
                <a class="link" href="/blog.html">check other blogs</a>
            </li>
        </ul>
    </nav>
    <header class="hero">
        <img class="hero-image" src="/Images/HeaderImage.svg" />
        <h1 class="hero-heading">Welcome<span class="hero-span">To my blog page</span></h1>
    </header>

    <Section class="section">
        <div class="container container-center">
            <h1>Building my portfolio</h1>
            <p>
                Blog Comming soon...
            </p>
            
        </div>

    </Section>
</body>
</html>