<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog|Building my portfolio</title>
    <link href='/styles.css' rel='stylesheet'/>
</head>
<body>
    <nav class="navigation">
        <div class="nav-brand">Welcome to my blog</div>
        <ul class="list-nobullets">
           
            <li class="list-item-inline">
                <a class="link" href="/blog.html">check other blogs</a>
            </li>
        </ul>
    </nav>
    <header class="hero">
        <img class="hero-image" src="/Images/HeaderImage.svg" />
        <h1 class="hero-heading">Welcome<span class="hero-span">To my blog page</span></h1>
    </header>

    <Section class="section">
        <div class="container container-center">
            <h1>Building my portfolio</h1>
            <p>
                Blog Comming soon...
            </p>
            
        </div>
        <footer class="footer">
            <div class="footer-heading ">You can contact me on below links</div>
            <ul class="list-nobullets">
                <li class=" list-item-inline">
                    <a class="link" href="https://www.linkedin.com/in/tushar-bhandirge-300249118/">
                        <img class="icon-image" src="./Images/icons8-linkedin-30.png" />
                    </a>
                </li>
                <li class="list-item-inline">
                    <a class="link" href="https://twitter.com/TusharBhandirge?s=09">
                        <img class="icon-image" src="./Images/icons8-twitter-30.png" />
                    </a>
                </li>
                <li class="list-item-inline">
                    <a class="link" href="https://github.com/TusharBhandirge?tab=repositories">
                        <img class="icon-image" src="./Images/icons8-github-30.png"/>
                    </a>
                </li>
            </ul>
        </footer>

    </Section>
</body>
</html>